body {
	background-color: #f7f7f7;
	/* Cor de fundo suave */
	color: #333333;
	/* Cor do texto neutra para melhor contraste */
	font-family: Arial, sans-serif;
	/* Fonte mais comum e legível */
	margin: 0;
	/* Remover margens padrão */
	padding: 0;
	/* Remover preenchimento padrão */
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	flex-direction: column;
	display: flex;
}
