body {
    text-align: center;
}

.tableformulario {
    background: #EBE9ED;
}

.tableformulario th {
    text-align: right;
    font-weight: normal;
}

#botaosubmit {
    background: #7D9FC7;
    color: #526E9E;
}

#botaoreset {
    background: #526E9E;
    color: #7D9FC7;
}